body {
    font: 20px Arial,sans-serif;
}

.navbar {
    background: #CAA03D;
}

.quem-somos {
    background-color: #90B0AD;
    color: white;
}

.parceiros {
    background-color: #8AB3F9;
}

.margin {
    padding-top: 15px;
    padding-bottom: 30px;
}

.bg-footer {
    background-color: black;
    color: white;
}